body {
    background-color: #464866;
}

h1{
	font: bold small-caps 2em monospace;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #4f6277;
	text-align: center;
	opacity: 0,5;
	color:#fbeec1;
	text-align:center;
	letter-spacing: 3px;
}

h1{
	font-family: 'Bree Serif', serif;
}

article {
   color: #254e58;
   font-family: 'Acme', sans-serif;
   font-size:15px;
}

table {
   color: darkred;
   font-family: 'Pridi', serif;
}

footer {
   text-align:center;
}

a:link {
	color: #77504f;
}

a:visited {
	color:red;
}

a:hover {
	color: #0c0032;
}


a:active {
	color:yellow;
}

[href]{
	font-size:15px;
}

li{
	color: #254e58;
	font-family: 'PT Serif', serif;
	font-size: 15px;
}

p{
	font-family: 'PT Serif', serif;
	font-size: 16px;
	line-height: 150%;
	text-indent: 20px;
	text-align: justify;
}

section{
	font-size: 15px;
	font-family: 'Bree Serif', serif;
	color: #182628;
}

p::first-letter{
	font-family: 'PT Serif', serif;
	color: teal;
	font-size: xx-large
}

/*.box { 
	border: 2px solid #cf1111;   
	background-color: #e9dbdf; 
	width: 25%;
	position: absolute;
	left: 50%;
	right: 70%;
	transform: translate(-50%,-100%);
	color: #4a546e;
	padding: 10px 7px 10px 15px;
	
 } */

div p{
	color: #254e58;
	font-family: 'PT Serif', serif;
	font-size: 15px;
}

/*.container {
	width: auto;
	border:;
	padding: 10px;
	float: right;
	margin: 10px;
}*/

/*.container2 {
	width: auto;
	border:;
	padding: 10px;
	float: left;
	margin: 10px;
}*/

.nav {
	background-color: #687864;
	font-family: 'Bree Serif', serif;
	width: 100%;
	text-align: center;
	padding: 20px;
	position: sticky;
	top: 0;
	margin: auto;
	width: auto;
}

.nav ul li{
	font-family: 'Bree Serif', serif;
	font-size: medium;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

.container {
	background-color: #c2b9b0;
	padding: 20px;
	border-radius: 10px;
	margin: auto;
}

.box {
	flex-grow: 1;
	background-color: transparent;
	margin: 5px;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.double {
	flex-basis: 50%;
}
.button {
    position: sticky;
    color: black;
    transform: translate(-50%, -50%);
}

.box1 {
	flex-grow: 1;
	background-color: #687864;
	margin: auto;
}
.btn {
    border: 2px solid #5d5c61;
    padding: 10px 20px;
    color: royalblue;
    text-decoration: none;
    transition: 0.6s;
}
.btn:hover {
    background-color: #6e6658;
    color: #254e58;
}
.button1 {
    position: absolute;
    top: 95%;
	left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.btn1 {
	border: 2px solid salmon;
    padding: 5px 4px;
    text-decoration: none;
	transition: 0.6s;
	font-family: 'Pridi', serif;
}
.btn1:hover {
    background-color: salmon;
    color: #254e58;
}
.ig {
	font-family: 'Bree Serif', serif;
}
.img {
	padding-right: 25px;
	padding-left: 25px;
}
.color {
	background-color: chocolate;
	letter-spacing: 3px;
}
img.kanan {
	float: right;
	margin: 5px;
	padding-top: 40px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-left: 40px;
}